h1 {
  font-size: 6rem;
  color: #9CC;
  text-align: center;
  padding: 20vh 8vw 0 8vw;
}

h2 {
  font-size: 3rem;
  color: #9CC;
  text-align: center;
  padding: 1vh 8vw 0 8vw;
}

h3 {
  font-size: 1.5rem;
  color: #CFCCCC;
  text-align: center;
  padding: 3vh 8vw 0 8vw;
}
