#layout {
  background-color: #DDD;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 52px 1fr;
  grid-template-areas:
    "header"
    "content";
}

#layout > header {
  background-color: lightblue;
  grid-area: header;
  display: flex;
}

#admincp-content {
  grid-area: content;
}

.nav {
  flex: 1
}

.nav-link {
  height: 52px;
  border-radius: 0;
}

#layout > header > h1{
  margin: auto 0;
  padding-left: 5vw;
  padding-right: 100px;
  font-size: 1.3rem;
}

#layout > header > #credentials{

  display: flex;
  flex-direction: column;

  padding: 5px;

  width: 220px;
  margin-right: 2vw;
}

#layout > header > #credentials > h3 {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

#layout > header > #credentials > form {
  flex: 1;
  display: flex;
}

#layout > header > #credentials > form > input {
  flex: 1;
  height: 20px;
  width: 100px;
}

#layout > header > #credentials > form > #username {
  margin-right: 5px;
}
