<div id="layout">
  <header>

    <h1 id="header-title">Admin Control Panel</h1>

    <section id="credentials">

      <h3>Credentials</h3>
      <form>
            <input type="text" name="username" id="username" [(ngModel)]="credentialsForm.username" required>

            <input type="password" name="password" id="password" [(ngModel)]="credentialsForm.password" required>

      </form>

    </section>

  </header>

  <app-add-project-form class="add-form"
     [credentialsForm]="credentialsForm"
     (projectAdded)="updateProjectsList()">
  </app-add-project-form>

  <ul>
    <li *ngFor="let project of projects | mywork:workType">
      <app-project-item
        [credentialsForm]="credentialsForm"
        [project]="project"
        (projectDeleted)="updateProjectsList()">
      </app-project-item>
    </li>
  </ul>

</div>
