
<section id="admincp-projects-layout">
  <app-add-project-form class="add-form"
     [credentialsForm]="credentialsForm"
     [copiedProjectData]="copiedProjectFromData"
     (projectAdded)="updateProjectsList()">
  </app-add-project-form>

  <ul>
    <li class="cp-card" *ngFor="let project of projects">
      <app-project-item
        [credentialsForm]="credentialsForm"
        [project]="project"
        (projectDeleted)="updateProjectsList()"
        (projectCopied)="projectCopiedEvent(project)">
      </app-project-item>
    </li>
  </ul>

</section>
