
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#coverSection">Felipe Müller</a>

  <ul class="navbar-nav" id="language-buttons-collapsed">

    <li class="nav-item lang-li">
      <input id="pt-coll" type="radio" name="lang-radios-coll" (click)="switchLanguage($event, 'pt')">
      <label id="pt-label-coll" for="pt-coll"></label>
    </li>

    <li class="nav-item lang-li">
      <input id="en-coll" type="radio" name="lang-radios-coll" (click)="switchLanguage($event, 'en')">
      <label id="en-label-coll" for="en-coll"></label>
    </li>

  </ul>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto navbar-nav">
      <li class="nav-item"><a class="nav-link"  href="#aboutSection">{{'NavBar.About'|translate}}</a></li>
      <li class="nav-item"><a class="nav-link"  href="#myWorkSection">{{'NavBar.Portfolio'|translate}}</a></li>
      <li *ngIf='!removeContactInformation' class="nav-item"><a class="nav-link"  href="#contactSection">{{'NavBar.Contact'|translate}}</a></li>
    </ul>
  </div>







  <ul class="navbar-nav" id="language-buttons-uncollapsed">

    <li class="nav-item lang-li">
      <input id="pt-uncoll" type="radio" name="lang-radios-uncoll" (click)="switchLanguage($event, 'pt')">
      <label id="pt-label-uncoll" for="pt-uncoll"></label>
    </li>

    <li class="nav-item lang-li">
      <input id="en-uncoll" type="radio" name="lang-radios-uncoll" (click)="switchLanguage($event, 'en')">
      <label id="en-label-uncoll" for="en-uncoll"></label>
    </li>

  </ul>


</nav>
