
#language-buttons-collapsed > li { display: initial; }
#language-buttons-uncollapsed > li { display: none; }

@media (min-width: 576px) {
  #language-buttons-collapsed > li { display: none; }
  #language-buttons-uncollapsed > li { display: initial; }
}

#language-buttons-collapsed {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

$svg-label-size: 35px;
label {
  text-indent: -9999px;
  width: $svg-label-size;
  height: $svg-label-size;
  background-size: $svg-label-size $svg-label-size;
  filter: grayscale(100%);
}

#pt-label-coll, #pt-label-uncoll {
  background: url("/assets/svgs/br-flag.svg");
}

#en-label-coll, #en-label-uncoll {
  background: url("/assets/svgs/en-flag.svg");
}

.lang-li {
  position: relative;
  margin-top: 5px;
  margin-left: 10px;
}

$arrow-size: 13px;

input[type="radio"]:checked + label::after {
  content: '';
  font-size: 1rem;
  color: white;
  position: absolute;
  top: calc(#{$svg-label-size} - 9px);
  right: calc(#{$svg-label-size}/2 - #{$arrow-size}/2);

  background: url("/assets/svgs/up-arrow.svg");
  display: block;
  text-indent: -9999px;
  width: $arrow-size;
  height: $arrow-size;
  background-size: $arrow-size $arrow-size;
}

input[type="radio"]:checked + label {
  filter: grayscale(75%);
}

input[type="radio"] + label:hover {
  filter: grayscale(1%);
}


input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}
