
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#coverSection">Felipe Müller</a>

  <ul class="navbar-nav" id="language-buttons-collapsed">
    <li class="nav-item"><button (click)="switchLanguage('en')">en</button></li>
    <li class="nav-item"><button (click)="switchLanguage('pt')">pt</button></li>
  </ul>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mr-auto navbar-nav">
      <li class="nav-item"><a class="nav-link"  href="#aboutSection">{{'NavBar.About'|translate}}</a></li>
      <li class="nav-item"><a class="nav-link"  href="#projectsSection">{{'NavBar.Portfolio'|translate}}</a></li>
      <li class="nav-item"><a class="nav-link"  href="#contactSection">{{'NavBar.Contact'|translate}}</a></li>
    </ul>
  </div>

  <ul class="navbar-nav" id="language-buttons-uncollapsed">
    <li class="nav-item"><button (click)="switchLanguage('en')">en</button></li>
    <li class="nav-item"><button (click)="switchLanguage('pt')">pt</button></li>
  </ul>


</nav>
