

.work-item-button {
  background-color: #00000033;
  border-top:     #FFFFFF11 solid 1px;
  border-left:    #AAEEEE11 solid 1px;
  border-right:   #AAEEEE11 solid 1px;
  border-bottom:  #33EEEECC solid 1px;
  border-radius: 1px;
  color: #3BB;

  padding: 10px 20px 10px 10px;
}
