

.work-item-button {
  background-color: rgba(0, 0, 0, 0.2);
  border-top:     rgba(255, 255, 255, 0.06) solid 1px;
  border-left:    rgba(170, 238, 238, 0.06) solid 1px;
  border-right:   rgba(170, 238, 238, 0.06) solid 1px;
  border-bottom:  rgba(51, 238, 238, 0.8) solid 1px;
  border-radius: 1px;
  color: #3BB;

  padding: 10px 20px 10px 10px;
}
