

      <img *ngIf='work.imageUrl !== undefined' src={{work.imageUrl}} alt="imagem ilustrativa">


      <h3>{{work.title}}</h3>
      <p [innerHTML]="work.description"></p>

      <a *ngIf='work.workUrl != undefined' href={{work.workUrl}} target="_blank" role="button">Visualizar Página</a>
      <a *ngIf='work.videoUrl != undefined' href={{work.videoUrl}} target="_blank" role="button">Ver Vídeo</a>
      <a *ngIf='work.sourceCodeUrl != undefined' href={{work.sourceCodeUrl}} target="_blank" role="button">Código Fonte Online</a>
