<div class="myWorkItemWrapper">

  <div #myworkItem class="myworkItem">
    <div class="img-container">
      <img *ngIf='work.imageUrl !== undefined' src={{work.imageUrl}} alt="imagem ilustrativa">
    </div>


    <p class="date">{{work.formattedDate}}</p>

    <div class="content">
      <h3>{{work.title}}</h3>
      <p [innerHTML]="work.description"></p>

      <!-- <p [innerHTML]="work.relevance"></p> -->
    </div>

    <div class="buttons">
      <a class="work-item-button" *ngIf='work.workUrl != undefined' href={{work.workUrl}} target="_blank" role="button">{{'MyWork.ItemButtons.ViewOnline'|translate}}</a>
      <a class="work-item-button" *ngIf='work.videoUrl != undefined' href={{work.videoUrl}} target="_blank" role="button">{{'MyWork.ItemButtons.DemoVideo'|translate}}</a>
      <a class="work-item-button" *ngIf='work.sourceCodeUrl != undefined' href={{work.sourceCodeUrl}} target="_blank" role="button">{{'MyWork.ItemButtons.SourceCode'|translate}}</a>
    </div>


  </div>

</div>
