
<div class="item-container">
  <img src={{project.imageUrl}} alt="">

  <div class="project-attribute"><p><b>Title: </b>{{project.title}}</p></div>
  <div class="project-attribute"><p><b>Type: </b>{{project.type}}</p></div>
  <div class="project-attribute"><p><b>Description: </b>{{project.description}}</p></div>
  <div class="project-attribute"><p><b>Img URL: </b>{{project.imageUrl}}</p></div>
  <div class="project-attribute"><p><b>Src URL: </b>{{project.sourceCodeUrl}}</p></div>
  <div class="project-attribute"><p><b>Proj URL: </b>{{project.workUrl}}</p></div>
  <div class="project-attribute"><p><b>Vid URL: </b>{{project.videoUrl}}</p></div>

  <div class="">
    <h5>PT</h5>

    <div class="project-attribute"><p><b>Title: </b>{{project.i18n.pt.title}}</p></div>
    <div class="project-attribute"><p><b>Description: </b>{{project.i18n.pt.description}}</p></div>
    <div class="project-attribute"><p><b>Img URL: </b>{{project.i18n.pt.imageUrl}}</p></div>
    <div class="project-attribute"><p><b>Src URL: </b>{{project.i18n.pt.sourceCodeUrl}}</p></div>
    <div class="project-attribute"><p><b>Proj URL: </b>{{project.i18n.pt.workUrl}}</p></div>
    <div class="project-attribute"><p><b>Vid URL: </b>{{project.i18n.pt.videoUrl}}</p></div>
  </div>

  <div class="">
    <h5>JP</h5>

    <div class="project-attribute"><p><b>Title: </b>{{project.i18n.jp.title}}</p></div>
    <div class="project-attribute"><p><b>Description: </b>{{project.i18n.jp.description}}</p></div>
    <div class="project-attribute"><p><b>Img URL: </b>{{project.i18n.jp.imageUrl}}</p></div>
    <div class="project-attribute"><p><b>Src URL: </b>{{project.i18n.jp.sourceCodeUrl}}</p></div>
    <div class="project-attribute"><p><b>Proj URL: </b>{{project.i18n.jp.workUrl}}</p></div>
    <div class="project-attribute"><p><b>Vid URL: </b>{{project.i18n.jp.videoUrl}}</p></div>
  </div>



  <button class="btn btn-outline-danger" type="button" name="button" (click)="onDelete(project)"><i class="fas fa-trash"></i></button>

  <div class="project-attribute"><p><b>Date: </b>{{project.date}}</p></div>



</div>
