.item-container {
  padding: 10px;
}

.collapsible {
  background-color: #EEE;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsed-button {
}
.expanded-button {
  background-color: #d2d7d8;
}

.collapsed-content {
  height: 0;
}
.expanded-content {
}

.collapsible:hover {
  background-color: #d2dde0;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.project-attribute:first-of-type {
  margin-top: 20px;
}

.project-attribute > h4{
  font-size: 1.3rem;
  color: #444;
}

.project-attribute > h5{
  font-size: 0.8rem;
  color: #666;
}

.project-attribute > p{
  overflow-wrap: break-word;
  margin: 0;
}

button {

}

.actions > button {
  float: right;
  margin: 10px 0;
  margin-left: 10px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  float: right;
  margin-left: 20px;
}
