@import "~include-media/dist/_include-media.scss";
@import "~src/variables.scss";


#contactSection{
  position: relative;
  font-family: 'Play', sans-serif;
  color: $std-white;
}

#map-conatiner {
  height: 375px;
  overflow-y: hidden;
  }@include media("<desktop") {#map-conatiner{
    height: calc(100vh - #{$navbar-height});
  }
}

#map {
  width: 100%;
  height: 400px;
  background-color: #181818;

  -webkit-filter: grayscale(60%); /* Safari */
  filter: grayscale(60%);

}@include media("<desktop") {#map{
    height: calc(100vh - #{$navbar-height});
  }
}

#contactBox{
  background-color: #111111;
  opacity: 0.88;
  border: 2px solid #00FFFF44;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50%;
  height: 200px;
  }@include media("<tablet") {#contactBox{
    top: 50px;
    left: 2%;
    right: 2%;
    width: auto;
  }}@include media("<desktop", ">=tablet") {#contactBox{
    width: auto;
    left: 50px;
  }}@include media(">=desktop") {#contactBox{
    width: 600px;
  }
}



#contactBoxContent{
  padding: 1.6rem 2.3rem 1.6rem 2.3rem;
  color: #EEE;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  }@include media("<tablet") {#contactBoxContent{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 4vw;
  }}@include media("<phone") {#contactBoxContent{
    font-size: 6vw;
  }
}

#emailText {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0;
}

#emailAddress{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

.contact-link-icon {
  text-decoration:none;
  color:inherit;
  padding-left: 3%;
  padding-right: 3%;
}
#contactLinkIcons {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.3rem;
}
