<section id="contactSection">

  <div id="map"></div>

  <div id="contactBox" data-aos="fade-right">
    <div id="contactBoxContent">
      <p><i class="fa fa-phone" aria-hidden="true"></i><span id="phoneText"> +55 (47) 99183-2270 </span></p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> + <i class="fa fa-skype" aria-hidden="true"></i><span id="emailText"> linck_192@hotmail.com </span></p>

      <div id="contactLinkIcons">
        <a class="contact-link-icon" href="https://www.facebook.com/linck192" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
        <a class="contact-link-icon" href="https://br.linkedin.com/in/felipemuller5" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a class="contact-link-icon" href="https://github.com/linck5" target="_blank"><i class="fa fa-github fa-3x"></i></a>
        <a class="contact-link-icon" href="http://stackexchange.com/users/3520439/felipe-m%C3%BCller?tab=accounts" target="_blank"><i class="fa fa-stack-exchange fa-3x"></i></a>
      </div>
    </div>
  </div>

</section>
