.title-underline:after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    width: 3.7rem;
    border-bottom: 2px solid #0002;
}

form {
  padding: 10px;
  background-color: #FFF8;
  margin: 2rem 2vw 10vh 2vw;
}

.form-line, .i18n-line > div > div, .i18n-lang-section-line {
  display: flex;
  padding: 9px;
}

.i18n-line-section {
  width: 100%;
}

.i18n-line-section > h4 {
  padding: 14px;
  padding-left: 24px;
  font-size: 1.3rem;
  background-color: rgba(173, 216, 230, 0.2);
  border-bottom: 2px solid rgba(204, 204, 204, 0.4);
}

.lang-section-title {
  padding: 10px;
  padding-left: 34px;
  background-color: rgba(204, 204, 204, 0.23);
  margin-top: 20px;
}

form > div > label {
  padding-right: 10px;
}


form > .form-line:nth-child(even) {
  background-color: rgba(127, 158, 168, 0.09);

}

.i18n-lang-section-line:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.53);
}

form > div > label, .i18n-lang-section-line > label {
  width: 12rem;
}

form > div > input, .i18n-lang-section-line > input {
  flex: 1;
}

#button-flex-container {
  display: flex;
  justify-content: flex-end;
}

#button-flex-container > button {
  font-size: 1.15rem;
  margin-top: 14px;
  padding: 4px 20px;
}
