
#bg-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 0; //controlled by js
  overflow: hidden;
}

#bg-canvas {

  width: 100%;

}
