h3 {
}

h3:after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    width: 3.7rem;
    border-bottom: 2px solid #0002;
}

form {
  padding: 10px;
  background-color: #FFF8;
  margin: 2rem 2vw 0 2vw;
}

form > div {
  display: flex;
  padding: 9px;
}

form > div > label {
  padding-right: 10px;
}


form > .form-line:nth-child(even) {
  background-color: #CCCCDD44;
}

form > div > label {
  flex: 1;
}

form > div > input {
  flex: 1;
}

#button-flex-container {
  display: flex;
  justify-content: flex-end;
}

#button-flex-container > button {

}
