<form class="cp-card" (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <h3>New</h3>

  <div class="form-line" *ngFor="let formRow of formTemplate">
    <label for={{formRow.name}}>{{formRow.label}}</label>
    <input type="text" id={{formRow.name}}
           [(ngModel)]=projectForm[formRow.name] name={{formRow.name}}>
  </div>

  <div id="button-flex-container">
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid"><i class="fas fa-plus"></i></button>
  </div>

</form>
