@import "~include-media/dist/_include-media.scss";
@import "~src/variables.scss";

$shadowColor: #003333FF;

#cover-section-wrapper{
  animation: cover_appearing 1.0s;
  animation-timing-function: ease-in-out;
}
@keyframes cover_appearing {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#cover-area{
  width: 100%;
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  margin-bottom: 0px;
  padding-bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

}


#cover-text{
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;

  color: $std-white;
}


#cover-text h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 14vmin;
  padding-bottom: 3vh;
  text-shadow: 0.2rem 0.2rem $shadowColor;
}
#cover-text h2{
  font-family: 'Play', sans-serif;
  font-size: 6vmin;
  text-shadow: 0.1rem 0.1rem $shadowColor;
}
