#myWorkSection {
  display: flex;
  flex-flow: column nowrap;

  margin-left: 100px;
  margin-right: 10px;

  background-color: #00000055;

  padding-bottom: 500px;
}

@media (min-width: 768px) {
  #myWorkSection {
    margin-left: calc(75px + 4vw);
    margin-right: 8vw;
  }
}

@media (min-width: 1600px) {
  #myWorkSection {
    margin-left: auto;
    margin-right: auto;
    width: 1325px;

  }
}

#list-settings {
  width: 100%;
  display: flex;
  justify-content: center;
}

#workType-radios {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
}

#workType-radios > li > input[type=radio] {
  display: none;
}

#workType-radios > li > input[type=radio] ~ label {
  padding: 20px;
  margin: 8px 0 8px 0;
  color: #EEE;
  background-color: #333;
}

#workType-radios > li > input[type=radio]:checked ~ label {
  margin: 0;
  height: 100%;
  color: #333;
  background-color: #EEE;
}


#workType-select {
  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
  appearance: none;
  border: none;
}

#worksUL {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
}

#worksUL > li {
  flex: 0/*controlled by js*/;
}
