<h2>My Work</h2>

<div id="list-settings">

  <div id="workType-radios">
    <input type="radio" [(ngModel)]="workType" name="workType" value="all"> {{'MyWork.Filter.All'|translate}}<br>
    <input type="radio" [(ngModel)]="workType" name="workType" value="AI" > {{'MyWork.Filter.AI'|translate}}<br>
    <input type="radio" [(ngModel)]="workType" name="workType" value="web" > {{'MyWork.Filter.Web'|translate}}<br>
    <input type="radio" [(ngModel)]="workType" name="workType" value="gamedev"> {{'MyWork.Filter.GameDev'|translate}}<br>
  </div>

  <select [(ngModel)]="selectedOrderBy" (change)="orderbyHandler()">
      <option *ngFor="let option of orderbyOptions" [ngValue]="option">{{option.label}}</option>
  </select>
</div>

<p>{{workType}}</p>

<ul>
  <li *ngFor="let work of works | mywork:workType"><app-mywork-item [work]="work"></app-mywork-item></li>
</ul>
