@import "~include-media/dist/_include-media.scss";
@import "~src/variables.scss";

#myWorkSection {
  display: flex;
  flex-flow: column nowrap;

  margin-left: calc(#{$wires-margin} + 10px);
  margin-right: 10px;
  padding-top: $navbar-height + 20px; //this is for the navbar link anchor
  padding-bottom: 500px;

  font-family: 'Play', sans-serif;
}

h2 {
  color: $std-white;
  margin-left: 100px;
  margin-bottom: 4rem;
  }@include media("<tablet") {h2{
    margin-left: 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #myWorkSection {
    margin-left: calc(#{$wires-margin} + 4vw);
    margin-right: 8vw;
  }
}

@media (min-width: 1600px) {
  #myWorkSection {
    margin-left: auto;
    margin-right: auto;
    width: 1325px;

  }
}

#list-settings {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 50px;
  }@include media("<tablet") {#list-settings{
    flex-flow: column nowrap;
    align-items: center;
  }
}

#workType-radios {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
}

#workType-radios > li > input[type=radio] {
  display: none;
}

#workType-radios > li > input[type=radio] ~ label {
  padding: 15px 20px 15px 20px;
  margin: 0;
  //margin: 8px 0 8px 0;
  color: $std-white;
  background-color: rgba(0, 34, 34, 0.53);
}

#workType-radios > li > input[type=radio]:checked ~ label {
  position: relative;
}

#workType-radios > li > input[type=radio]:checked ~ label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px cyan solid;
}


#list-settings-separator {
  width: 30px;
  background-color: rgba(0, 34, 34, 0.53);
  }@include media("<tablet") {#list-settings-separator{
    display: none;
  }
}


#workType-select-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  }@include media("<tablet") {#workType-select-wrapper{
    margin-top: 2.5rem;
  }
}

#workType-select {
  width: 130px;
  padding: 10px;
  color: $std-white;
  background: url("/assets/svgs/workType-select-icon.svg") 96% / 15% no-repeat rgba(0, 34, 34, 0.53);
  appearance: none;
  border: none;
}

#workType-select-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px cyan solid;
}

#worksUL {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#worksUL > li {
  flex: 0/*controlled by js*/;
  max-width: 525px;
}
