<h2>My Work</h2>

<div id="list-settings">

  <ul id="workType-radios">
    <li>
      <input type="radio" [(ngModel)]="workType" id="workType-all" name="workType" value="all" checked>
      <label for="workType-all">{{'MyWork.Filter.All'|translate}}</label>
    </li>
    <li>
      <input type="radio" [(ngModel)]="workType" id="workType-ai" name="workType" value="AI" >
      <label for="workType-ai">{{'MyWork.Filter.AI'|translate}}</label>
    </li>
    <li>
      <input type="radio" [(ngModel)]="workType" id="workType-web" name="workType" value="web" >
      <label for="workType-web">{{'MyWork.Filter.Web'|translate}}</label>
    </li>
    <li>
      <input type="radio" [(ngModel)]="workType" id="workType-gamedev" name="workType" value="gamedev">
      <label for="workType-gamedev">{{'MyWork.Filter.GameDev'|translate}}</label>
    </li>
  </ul>

  <select id="workType-select" [(ngModel)]="selectedOrderBy" (change)="orderbyHandler()">
      <option *ngFor="let option of orderbyOptions" [ngValue]="option">{{option.label}}</option>
  </select>
</div>

<p>{{workType}}</p>

<ul>
  <li *ngFor="let work of works | mywork:workType"><app-mywork-item [work]="work"></app-mywork-item></li>
</ul>
