#admincp-content-layout {
  background-color: #DDD;
  display: grid;
  height: calc(100vh - 52px);
  grid-template-columns: minmax(0, 15vw) minmax(800px, 1fr) minmax(0, 15vw);
  grid-template-rows: 1fr;
  grid-template-areas:
    "... i18nList ...";
}

ul {
  grid-area: i18nList;
  overflow-y: scroll;
  list-style-type: none;
}

li:last-of-type {
  margin-bottom: 12px;
}

ul::-webkit-scrollbar-track, .add-form::-webkit-scrollbar-track
{
	background-color: inherit;
}
ul::-webkit-scrollbar, .add-form::-webkit-scrollbar
{
  width: 7px;
}

ul::-webkit-scrollbar-thumb, .add-form::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.2);
}
